
.square {
  width: 80px;
  height: 80px;
  aspect-ratio: 1 / 1;
  border: 2px solid darkgrey;
  color: black;
}

/* colors for wordle boxes */
.correct { background: #538d4e; border-color: #538d4e; color: white; }
.present { background: #b59f3b; border-color: #b59f3b; color: white; }
.absent  { background: #3a3a3c; border-color: #3a3a3c; color: white; }
